site_name: Application Quality Building Block
site_url: https://eoepca.readthedocs.io/projects/application-quality/en/latest/
repo_url: https://github.com/EOEPCA/application-quality/
edit_uri: "edit/main/docs/"

nav:
  - EOEPCA Documentation: https://eoepca.readthedocs.io/
  - Application Quality:
    - index.md
    #- Getting Started:
    #  - getting-started/quick-start.md
    #  - getting-started/more-getting-started.md
    - Design:
      - design/architecture.md
      - design/requirements.md
      - design/use-cases.md
      - design/validation.md
    - Usage:
      - usage/user-manual.md
      - usage/analysis-dashboards.md
      - usage/analysis-tools.md
      - usage/remote-execution.md
    #  - usage/tutorials.md
    #  - usage/howtos.md
    #- Administration:
    #  - admin/configuration.md
    #  - admin/maintenance.md
    #- API:
    #  - api/endpoint-specification.md
    #  - api/usage.md

theme:
  name: material # https://squidfunk.github.io/mkdocs-material/creating-your-site/
  navigation_depth: 4

  # For `material` theme...
  logo: img/favicon.ico
  favicon: img/favicon.ico
  features:
    # Navigation
    - navigation.footer
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    # - navigation.expand
    # - toc.integrate
    - navigation.top
    # Content
    - content.code.copy
    - content.action.edit
    # Search
    - search.highlight
    - search.share
    - search.suggest

extra_css:
  - css/eoepca.css

plugins:
  - autorefs
  - search
  - mermaid2
  # - pub-debugger:
  #     console_log:
  #       enabled: true
  #       log_level: INFO
  #     file_log:
  #       enabled: false
  #     zip_log:
  #       enabled: false

markdown_extensions:
  - tables
  - toc:
      permalink: ⚓︎
      toc_depth: 4
  - smarty
  - sane_lists
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - abbr
  - attr_list
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
