# Default values for Application Quality Building Block.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

publicUrl: ""

ingress:
  enabled: false
  className: nginx
  domain: application-quality.eoepca-testing.spaceapplications.com

web:
  image:
    repository: nexus.spaceapplications.com/repository/docker-asb-public/eoepca/eoepca-appquality-frontend
    tag: develop
    pullPolicy: IfNotPresent
    #pullSecrets:
    #  - name: spaceapps-nexus-asb-ro
  serviceType: ClusterIP
  servicePort: 80
  containerPort: 80
  replicaCount: 1
  # The full URL of the frontend
  # Also used by the backend to authorize the requests (see also api.additionalAllowedHosts, below)
  publicUrl: ""

api:
  image:
    repository: nexus.spaceapplications.com/repository/docker-asb-public/eoepca/eoepca-appquality-backend
    tag: develop
    pullPolicy: IfNotPresent
    #pullSecrets:
    #  - name: spaceapps-nexus-asb-ro
  serviceType: ClusterIP
  servicePort: 80
  containerPort: 8000
  replicaCount: 1
  adminUser: ""
  adminPassword: ""
  adminEmail: ""
  # Comma-separated list of domain names (will be added to web.publicUrl)
  additionalAllowedHosts: ""

persistence:
  enabled: true
  createStorageClass: false
  storageClassName: managed-nfs-storage
  accessMode:
  - ReadWriteOnce
  size: 1Gi

vclusters:
  enabled: false
  required: false
  # Templated
  name: "{{ .Release.Namespace }}-vcluster"
  # Templated
  namespace: "{{ .Release.Namespace }}-vcluster"
  # Local "namespace/service" to the backend service inside the vcluster:
  #service: default/backend-service

workspace:
  apiServiceUrl: ""
  vcluster:
    enabled: false
    required: false

calrissian:
  image: "terradue/calrissian:0.14.0"
  volumeSize: "5Gi"
  maxCores: "2"
  maxRam: "2Gi"
  storageClassName: nfs-client

grafana:
  enabled: false

web_server:
  access_scheme: http
  force_ssl_redirect: true
  deploy_mode: prod
  instance_name: EOEPCA-plus-Testing
  theme: eoepca-develop
  log_level: DEBUG
  version: v0.0.1
  additional_allowed_host: "localhost, 127.0.0.1, proxy,"
  django_configuration: prod

entrypoint:
  collectstatic: "true"
  migrate_db: "true"
  load_data_on_init_db: "true"

db:
  image:
    repository: postgres
    tag: 13
    pullPolicy: IfNotPresent
  name: "appquality"
  user: "admin"
  password: "changeme"
  serviceType: NodePort
  servicePort: 5432
  containerPort: 5432
  storage:
    size: 2Gi

external_tools:
  registry_url: "http://nexus.spaceapplications.com"

nodeSelector: {}

oidc:
  enabled: false
  realm: eoepca
  realmBaseUrl: ".../realms/master"
  # Client ID and Secret set in SealedSecret
  clientId: ""
  clientSecret: ""
  preferredUsernameClaimField: "preferred_username"
  logoutEndpointPath: "end_session"
  logoutRedirectUrlParameterName: "post_logout_redirect_url"
  postLogoutRedirectUrl: ""
  loginUrl: "/oidc/authenticate"
  loginRedirectUrl: ""
  logoutRedirectUrl: "/"
  rpRedirectUri: ""
  rpSignAlgo: "RS256"

  iam_provisioning:
    enabled: false
    keycloakProviderConfig: keycloak-provider-config
    clientName: Application Quality BB
    clientDescription: Application Quality Web Portal and Grafana OIDC
    clientSecretName: application-quality-iam-client
    clientSecretKey: client_secret
    clientEnabled: true
    namespace: iam-management
    accessType: PUBLIC
    httpScheme: https
    initialiseTestUsers: false

sonarqube:
  enabled: false
  serverUrl: ""
  accessToken: ""

nodeSelector: {}

tolerations: []

affinity: {}

serviceAccount:
  create: false

notifications:
  enabled: false
  middleware: "knative"
  brokerName: "primary"
  brokerNamespace: "default"
  # Also used as type prefix for incoming notifications
  channelPrefix: "org.eoepca.application-quality"
  responseSource: "/eoepca/application-quality"
  responseTypePrefix: "org.eoepca.application-quality.response"

automations:
  enabled: false